<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audiometría</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Oído Derecho</h2>
            <form method="POST" action="/">
                <div class="form-group">
                    <label for="conduccion_aerea_derecho">Conducción Aérea (dB):</label>
                    <input type="text" id="conduccion_aerea_derecho" name="conduccion_aerea_derecho" value="10,20,30,40,50,60">
                </div>
                <div class="form-group">
                    <label for="conduccion_osea_derecho">Conducción Ósea (dB):</label>
                    <input type="text" id="conduccion_osea_derecho" name="conduccion_osea_derecho" value="15,25,35,45,55,65">
                </div>
                <div class="form-group">
                    <button type="submit" name="submit_derecho">Actualizar Gráfico Oído Derecho</button>
                </div>
            </form>
            <img src="data:image/png;base64,{{ plot_url_derecho }}" alt="Gráfico de Audiometría Oído Derecho">
        </div>
        <div class="form-container">
            <h2>Oído Izquierdo</h2>
            <form method="POST" action="/">
                <div class="form-group">
                    <label for="conduccion_aerea_izquierdo">Conducción Aérea (dB):</label>
                    <input type="text" id="conduccion_aerea_izquierdo" name="conduccion_aerea_izquierdo" value="12,22,32,42,52,62">
                </div>
                <div class="form-group">
                    <label for="conduccion_osea_izquierdo">Conducción Ósea (dB):</label>
                    <input type="text" id="conduccion_osea_izquierdo" name="conduccion_osea_izquierdo" value="17,27,37,47,57,67">
                </div>
                <div class="form-group">
                    <button type="submit" name="submit_izquierdo">Actualizar Gráfico Oído Izquierdo</button>
                </div>
            </form>
            <img src="data:image/png;base64,{{ plot_url_izquierdo }}" alt="Gráfico de Audiometría Oído Izquierdo">
        </div>
    </div>
</body>
</html>
